/* Estilos de OOOMMM */
body{
	background-image: url(../img/img_fondo03.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

header{
	float: left;
	width: 100px;
	margin: 0px 20px 0px 30px;
}

h1{
	color: #00BB96;
}