/* Estilos de OOOMMM */
body{
	background-image: url(../img/img_fondo03.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

div {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	background-image: url(../img/willi_reverso.png);
	border: none;
	width: 90px;
}

header{
	float: left;
	width: 300px;
	margin: 10px 0px 0px 50px;
}

h1{
	color: #00BB96;
}

#l:before{
	background: transparent;
}

.done {
	opacity:1;
}

.done div {
	-webkit-box-shadow:0 0px 6px -2px rgba(255,255,255,0.6);
	box-shadow:0 0px 6px 4px rgba(255,255,255,0.6);
}