/* Estilos de OOOMMM */
/*
	Fuentes
*/
@font-face {
    font-family: 'airstream_itcregular';
    src: url('../fuentes/airstreamitc-webfont.eot');
    src: url('../fuentes/airstreamitc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/airstreamitc-webfont.woff') format('woff'),
         url('../fuentes/airstreamitc-webfont.ttf') format('truetype'),
         url('../fuentes/airstreamitc-webfont.svg#airstream_itcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'skiaregular';
    src: url('../fuentes/skia-webfont.eot');
    src: url('../fuentes/skia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/skia-webfont.woff') format('woff'),
         url('../fuentes/skia-webfont.ttf') format('truetype'),
         url('../fuentes/skia-webfont.svg#skiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 1em;
    background-attachment: fixed;
	background-image: url(../img/img_fondo.png);
	background-position: left top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
    font-family: 'skiaregular';
}

div {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	background-image: url(../img/willi_reverso.png);
	border: none;
}

.level-2 div {
    background-image: url(../img/willi_reverso.png);
}

.level-3 div {
    background-image: url(../img/flora_reverso.png);
}

.level-4 div {
    background-image: url(../img/aisha_reverso.png);
}

.level-5 div {
    background-image: url(../img/vazul_reverso.png);
}

.level-6 div {
    background-image: url(../img/vmorado_reverso.png);
}

.level-7 div {
    background-image: url(../img/willi_reverso.png);
}

.level-8 div {
    background-image: url(../img/flora_reverso.png);
}

.level-9 div {
    background-image: url(../img/aisha_reverso.png);
}


header{
    width: 100%;
	height: 120px;
    overflow: hidden;
    margin-bottom: 1em;
}

header h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
}

h1{
	color: #00362B;
    font-family: 'airstream_itcregular';
    letter-spacing: 2px;
    text-align: center;
}

h2{
    display: inline-block;
}

select{
	font-family: 'skiaregular';
	font-size: 17px;
}

select ,select:hover {
    color:#00BB96;
}

#logo{
    display: inline-block;
    vertical-align: middle;
}

#play{
    display: block;
    overflow: hidden;
}

#play h2{
    vertical-align: middle;
}

#r{
    overflow: hidden;
    background: rgba(255,255,255,.6);
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,.6);
    margin: 1em 0;
    padding: 1em 2em;
}

#l:before{
	background: transparent;
}

#s button {
    -webkit-box-shadow: none;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    display: block;
    font-family: 'airstream_itcregular';
    font-size: 1em;
    line-height: 57px;
    text-align: left;
    width: auto;
    margin: 0 1em;
}

#s button:before {
    background: transparent url("../img/img_01.png") no-repeat -36px -273px;
    content: " ";
    display: inline-block;
    float:left;
    height: 55px;
    margin-right: 20px;
    vertical-align: middle;
    width: 55px;
}

#s button:hover:before {
    background-position:-123px -273px;
}

#s button:active:before {
    background-position:-209px -273px;
}

#b span ,
#s span {
    color:#fff;
}

#win {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    display: none;
    font-family: 'airstream_itcregular';
    font-size: 5em;
    left:0;
    position:fixed;
    text-align: center;
    text-shadow: 0 0 6px #000;
    top:0%;
    width: 100%;
}

#win h3 ,
#win h4 {
    margin: 0;
    padding: 0;
}

#win h4 {
    font-size: 0.7em;
}

.done {
	opacity:1;
}

.done div {
	-webkit-box-shadow:0px 0px 6px -2px rgba(0, 26, 20, 0.6);;
	box-shadow:0px 0px 6px -2px rgba(0, 26, 20, 0.6);;
}
